<section id="{{ recId }}">
	<h2>
		{% block recTitle %}{% endblock %}
		<a class="self-link" href="#{{ recId }}"></a>
	</h2>
	{% block recContent %}{% endblock %}
	<details class="rationale">
		<summary>Justification</summary>
		{% block recRationale %}{% endblock %}
	</details>
</section>