{# Table des matières #}
{% set intoc = true %}
<ul>
	<li>
		<a href="principes.html">BCW-0 Principes de référence pour ce site</a>
		<ul>
			<li><a href="principes.html#public">À qui s’adresse ce guide</a></li>
			<li><a href="principes.html#principes">Principes et objectifs</a></li>
			<li><a href="principes.html#glossaire">Glossaire</a></li>
			<li><a href="principes.html#bibliographie">Références</a></li>
		</ul>
	</li>
	{% set sections = ['generalites', 'html', 'style', 'javascript', 'php'] %}
	{% for section in sections %}
		<li>
			{% include '../../guide-' ~ section ~ '.twig' %}
		</li>
	{% endfor %}
</ul>
