{# Table des matières #}
<ul>
	<li>
		<a href="principes.html">BCW-0 Principes de référence pour ce site</a>
		<ul>
			<li><a href="principes.html#public">À qui s’adresse ce guide</a></li>
			<li><a href="principes.html#principes">Principes et objectifs</a></li>
			<li><a href="principes.html#glossaire">Glossaire</a></li>
			<li><a href="principes.html#bibliographie">Références</a></li>
		</ul>
	</li>
	<li><a href="guide-generalites.html">BCW-1 Recommandations générales</a></li>
	<li><a href="guide-html.html">BCW-2 Recommandations pour le codage en HTML</a></li>
	<li><a href="guide-style.html">BCW-3 Recommandations pour le codage des feuilles de style</a></li>
	<li><a href="guide-javascript.html">BCW-4 Recommandations pour le codage en JavaScript</a></li>
	<li><a href="guide-php.html">BCW-5 Recommandations pour le codage en PHP</a></li>
</ul>
