{% embed './views/partials/_recommandation.twig' %}
	{% set recId = 'ordre' %}
	{% block recTitle %}
				Ordre des déclarations dans une règle
	{% endblock %}
	{% block recContent %}
			<ol>
				<li>
					À rédiger
				</li>
			</ol>
	{% endblock recContent %}
	{% block recRationale %}
				<ol>
					<li>
						À rédiger	
					</li>
				</ol>
	{% endblock recRationale %}
{% endembed %}