@charset "utf-8";

@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap);

/* Paramètres généraux */

:root {
	--famille-titres: 'Open Sans', 'Lucida Sans', 'Lucida Sans Unicode', Arial, Helvetica, sans-serif;
	--famille-tags: var(--famille-titres);
	--teinte-tags: 90, 50%;
}

/* Typographie générale */

h1, h2, h3, h4, h5, h6 {
	font-family: var(--famille-titres);
}

/* Principes de référence */

.principle {
	font-family: var(--famille-tags);
	font-size: 80%;
	background-color: hsl(var(--teinte-tags), 75%);
	color: hsl(var(--teinte-tags), 25%);
	border: 1px solid hsl(var(--teinte-tags), 50%);
	padding: 0 0.25rem; border-radius: 0.25rem;
	text-decoration: none; font-weight: normal;
}

/* Mise en page */

