{% extends './views/layout/_page.twig' %}
{% block pageTitle %}Le beau code web{% endblock %}
{% block docTitle %}Le beau code web{% endblock %}
{% block docContent %}
	<nav>
		{% include "_toc.twig" %}
	</nav>
{% endblock %}